{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <h2 class="text-center">Add Mata Kuliah</h2>

    <form id="form" method="POST" action="#">
        {% csrf_token %}

        {{ form|crispy }}
        <br>

        <button type="submit" class="btn btn-outline-success btn-block">Add</button>
    </form>
{% endblock %}