{% extends 'base.html' %}

{% block body %}
<h1>JADWAL KULIAH</h1>

<div class="table-responsive">

    <table class="table table-hover" style="padding-left: 10px; padding-right: 10px;">
        <thead>
            <tr>
                <th scope="col">Nama MatKul</th>
                <th scope="col">Nama Dosen</th>
                <th scope="col">Jumlah SKS</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Semester Tahun</th>
                <th scope="col">Kelas</th>
            </tr>
        </thead>
        
        <tbody>
            {% for matKul in matKuls %}

                <tr class='clickable-row' data-url="{% url 'homepage:viewMatkul' matKul.nama %}">
                    <td>{{matKul.nama}}</td>
                    <td>{{matKul.dosen}}</td>
                    <td>{{matKul.sks}}</td>
                    <td>{{matKul.deskripsi|slice:":15"}}</td>
                    <td>{{matKul.smtTahun}}</td>
                    <td>{{matKul.kelas}}</td>

                </tr>
                
            {% endfor %}
        </tbody>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script>
            jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    window.location = $(this).data("url");
                    // console.log("BISA NIH");
                });
            });
        </script>

    </table>

    <!-- <table class="table table-borderless">
        <thead>
            <th scope="col">
                <form>
                    <button type="submit" class="btn btn-success" formaction="{% url 'homepage:addMatkul' %}">Add</button>
                </form>
            </th>

            <th scope="col">
                <form>
                    <button type="submit" class="btn btn-danger" formaction="{% url 'homepage:addMatkul' %}">Delete</button>
                </form>
            </th>
        </thead>
    </table> -->

    <form>
        <button type="submit" class="btn btn-outline-success btn-block" formaction="{% url 'homepage:addMatkul' %}">Add</button>
    </form>
    
</div>


{% endblock %}