{% extends 'base.html' %}

{% block body %}

    {% for info in matKul %}
    <h1>{{info.nama}}</h1>
        <div class="container-fluid table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="col-md-auto" scope="col"></th>
                        <th class="col-md-auto" scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Dosen</th>
                        <td><p class="h4">{{info.dosen}}</p></td>
                    </tr>

                    <tr>
                        <th scope="row">Jumlah SKS</th>
                        <td><p class="h4">{{info.sks}}</p></td>
                    </tr>

                    <tr>
                        <th scope="row">Deskripsi</th>
                        <td><p class="lead">{{info.deskripsi}}</p></td>
                    </tr>

                    <tr>
                        <th scope="row">Semester Tahun</th>
                        <td><p class="h4">{{info.smtTahun}}</p></td>
                    </tr>

                    <tr>
                        <th scope="row">Kelas</th>
                        <td><p class="h4">{{info.kelas}}</p></td>
                    </tr>

                    <tr>
                        <th scope="row">Tugas</th>
                        <td>
                            <ul class="list-group">
                                {% for tugas in tugas2 %}
                                    <li class="list-group-item">{{tugas.nama}} : {{tugas.deadline}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <form>
            <button type="submit" class="btn btn-outline-danger btn-block" formaction="{% url 'homepage:delMatkul' info.nama %}">Delete</button>
        </form>
    {% endfor %}
{% endblock %}