<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2>Hello,</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'homepage:index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="{% url 'homepage:addMatkul' %}">Add MatKul</a>
        </li> -->
        <li class="nav-item disabled">
          <a class="nav-link" href="#">Admin</a>
        </li>
      </ul>
      <span class="navbar-text">
        Jeremy Victor
      </span>
    </div>
  </nav>